In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn import preprocessing 
import numpy as np
import os

In [2]:
cwd = os.getcwd()
test_set = pd.read_csv(os.path.join(cwd, 'datasets/test_data.csv'))
dataset = pd.DataFrame(pd.read_csv(os.path.join(cwd, 'datasets/train_data.csv')))

In [3]:
dataset.head()

,ID,parents,has_nurs,form,children,housing,finance,social,health,app_status
0,1,usual,less_proper,complete,3,critical,convenient,problematic,not_recom,0
1,2,pretentious,very_crit,completed,1,convenient,inconv,nonprob,not_recom,0
2,3,pretentious,proper,incomplete,1,less_conv,convenient,slightly_prob,priority,1
3,4,great_pret,improper,complete,1,convenient,convenient,nonprob,recommended,1
4,5,great_pret,less_proper,completed,1,convenient,convenient,slightly_prob,priority,1

In [4]:
dataset.shape

(10368, 10)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10368 entries, 0 to 10367
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10368 non-null  int64
 1   parents     10368 non-null  object
 2   has_nurs    10368 non-null  object
 3   form        10368 non-null  object
 4   children    10368 non-null  object
 5   housing     10368 non-null  object
 6   finance     10368 non-null  object
 7   social      10368 non-null  object
 8   health      10368 non-null  object
 9   app_status  10368 non-null  int64
dtypes: int64(2), object(8)
memory usage: 810.1+ KB

In [6]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2592 entries, 0 to 2591
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        2592 non-null   int64
 1   parents   2592 non-null   object
 2   has_nurs  2592 non-null   object
 3   form      2592 non-null   object
 4   children  2592 non-null   object
 5   housing   2592 non-null   object
 6   finance   2592 non-null   object
 7   social    2592 non-null   object
 8   health    2592 non-null   object
dtypes: int64(1), object(8)
memory usage: 182.4+ KB

In [7]:
dataset[dataset.isnull().any(axis=1)]    # any null records available?
del dataset['ID']

In [8]:
label_encoder = preprocessing.LabelEncoder()

In [9]:
# Label Encoding for ordinal columns
columns_ordinal = ['parents', 'children', 'has_nurs', 'housing']

for column in columns_ordinal:
    dataset[column] = label_encoder.fit_transform(dataset[column])

In [10]:
onehot_encoder = preprocessing.OneHotEncoder(drop='first')

In [11]:
# OneHotEncoding for nominal columns
columns_nominal = ['form', 'finance', 'social', 'health']

cleaned_dataset = dataset

for column in columns_nominal:
    X = onehot_encoder.fit_transform(dataset[column].values.reshape(-1, 1)).toarray()
    # create dataframe from encoded data
    dataset_onehot = pd.DataFrame(X, columns = [column + '_' + str(i) for i in range(X.shape[1])]) 
    # update dataset -> cleaned_dataset
    cleaned_dataset = pd.concat([dataset_onehot, cleaned_dataset], axis=1)
    # remove encoded column from dataset
    del cleaned_dataset[column]
cleaned_dataset.head()

,health_0,health_1,social_0,social_1,finance_0,form_0,form_1,form_2,parents,has_nurs,children,housing,app_status
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,2,2,1,0
1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,4,0,0,0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1,3,0,2,1
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,1
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,2,0,0,1

In [13]:
# splitting complete ds to independant and dependant vars
x = cleaned_dataset.iloc[:, 1:-1]
y = cleaned_dataset.iloc[:, -1]

In [14]:
# splitting dataset to training and testing set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
x_train[0:33]

,health_1,social_0,social_1,finance_0,form_0,form_1,form_2,parents,has_nurs,children,housing
10091,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2,2,2,1
9455,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0,4,0,1
7371,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2,3,0,1
5933,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,1,2,0
6592,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,2,3,2
4095,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,2,1,0
6610,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1,3,2,0
1258,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2,0,0,0
10232,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0,3,1,2
983,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,2,1,0
2927,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0,2,0,2
8538,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2,3,3,0
9571,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,4,1,0
68,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0,3,1,1
5729,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1,4,0,2
9471,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,4,2,0
2885,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0,1,3,1
3126,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0,2,1,1
2733,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,2,0,2
1201,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2,4,3,2
5100,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2,1,0,2
3650,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1,0,0,2
8983,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,3,2,2
7343,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2,4,2,1
7609,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1,3,2
7597,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,2,3,0
5809,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1,3,1,2
8880,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,3,3,1
4199,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,1,2,2
667,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0,2,1,0
1969,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0,0,3,1
2603,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,3,1
2452,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2,1,0,1